:root {
  color-scheme: light dark;

  --accent-color: #abcdef;
  --accent-alt: #123456;
}

@media (prefers-color-scheme: light) {
  --accent-color: #123456;
  --accent-alt: #abcdef;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 15px auto;
  max-width: 650px;
  font-size: 115%;
  line-height: 1.8;
}

ul {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--accent-color);
  color: var(--accent-alt);
}
